.event {
    position: absolute;
    background-color: #E2ECF5;
    border-left: 3px solid #6E9ECF;
    font-size: 0.875rem;
    text-align: left;
    padding: 0 25px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

.event-title {
    margin: 0;
    padding: 0;
    color: #6E9ECF;
}

.remove-btn {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.remove-btn .fa-times {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6E9ECF;
}
