.app {
  text-align: center;
  font: 16px/1.2 'Open Sans', sans-serif;
}

.app-header {
  background-color: #ADD8E6;
  height: 80px;
  padding: 20px;
  color: white;
  line-height: 2.5em;
}

.app-title {
  font-size: 1.5em;
}

.timeslot-grid {
  margin: 0 auto;
  position: relative;
}

.timeslot {
  text-align: left;
  padding: 10px;
  margin: 0;
  font-weight: 200;
}

.hours {
  border-top: 1px solid #E8E8E8;
}

.hours:first-of-type {
  border: none;
}

.full-time {
 font-size: 0.75rem;
}

.event-calendar {
  position: relative;
  border-top: 1px solid #ADD8E6;
  border-bottom: 1px solid #ADD8E6;
}

.event {
  position: absolute;
  background-color: #E2ECF5;
  border-left: 3px solid #6E9ECF;
  font-size: 0.875rem;
  text-align: left;
  padding: 0 25px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
}

.event-title {
  margin: 0;
  padding: 0;
  color: #6E9ECF;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.remove-btn {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.remove-btn .fa-times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6E9ECF;
}

.control-panel {
  display: flex;
  justify-content: center;
}

.add-item-block {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-event-title {
  padding: 10px;
  color: #6E9ECF;
  font-size: 1rem;
}

.add-event-title::placeholder {
  color: #DEDEDE;
}

.add-event-btn {
  background-color: #ADD8E6;
  color: #fff;
  padding: 15px;
  margin: 20px 0;
  font-size: 1.3rem;
}

.add-event-btn:hover {
  background-color: #A2CEDC;
}

.add-event-btn:active {
  background-color: #8FBBC9;
}

.title {
  color: #ADD8E6;
  font-size: 1.2rem;
}

.add-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #D6EEFF;
  color: #6E9ECF;
  border: 1px solid #6E9ECF;
  padding: 7px 10px;
  z-index: 10;
  cursor: pointer;
}

.start-time,
.end-time {
  height: 20px;
}










.copyright {
  font-size: 0.7rem;
  margin: 0;
  padding: 20px 0;
}

